:root {
  --ifm-color-primary: #2e8f6e;
  --ifm-color-primary-dark: #298264;
  --ifm-color-primary-light: #34a07c;
}

[data-theme='dark'] {
  --ifm-color-primary: #5cc4a0;
  --ifm-color-primary-dark: #44bb94;
  --ifm-color-primary-light: #78cfb1;
  --ifm-background-color: #1b1b1d;
  --ifm-background-surface-color: #232528;
  --ifm-card-background-color: #232528;
  --ifm-navbar-background-color: #232528;
  --ifm-color-emphasis-300: #3a3d42;
}
